circle {
    background: lightblue;
    border-radius: 50%;
    width: 100px;
    height: 100px;
  }
  
  h1 {
    color: navy;
    margin-left: 20px;
  }
p{
    font-family: sans-serif;
}
span{
    font-family: sans-serif;
}
body{
    font-family: sans-serif;
}