input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
}

input[type=checkbox]::before {
  background: #83eede;
}
input[type=checkbox]::after {
  background: red;
}