{% load static %}
<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="UTF-8">
    <title>IssuePeople</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/theme-taiga.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="https://issuestorage.s3.us-west-2.amazonaws.com/static/imatge/logo_IssuePeople.png" type="image/png">
    <link rel="icon" href="https://issuestorage.s3.us-west-2.amazonaws.com/static/imatge/logo_IssuePeople.png" type="image/png">
    {% block extra_head %}{% endblock %}
</head>
<body>
    {% block content %}
    {% endblock %}
</body>
</html>