
{% extends 'navbar.html' %}

{% block body %}

    <div class="profile centered" style="margin-left: 50px;">
        <section class="profile-bar">
            <div>
                <img src="{{ usuari.avatar.url }}"
                width="200"
                height="200">
            </div>

            <div class="profile-data">
                <h1 class="not-full-name">
                    <p>{{usuari.user}}</p>
                </h1>
                <div class="username">
                    <p>@{{usuari.user}}</p>
                    
                </div>
            </div>
            <div class="profile-stats">
                <div class ="stat">
                </div>
            </div>
            <div class="profile-quote">
                <span>
                    {{usuari.bio}}
                </span>
            </div>
        </section>
        <div class="main">
            <div>
                <div class="taskboard-actions">
                    <table style="width: 40%;border-collapse:separate; border-spacing: 0 5px;">
                        <tr>
                            <td>
                                <th>
                                    <a href="/usuaris/1/?mostrar=timeline">
                                        <h1><i class="fa fa-align-justify"  aria-hidden="true" ></i> &nbsp Timeline &nbsp </h1>
                                    </a>
                                </th>
                            </td>
                            <td>
                                <th>
                                    <a href="/usuaris/1/?mostrar=watched">
                                        <h1><i class="fa fa-eye" aria-hidden="true"></i> Watched</h1>
                                    </a>
                                </th>
                            </td>
                        </tr>
                    </table>
                </div>
                <p style="color:darkgrey" >__________________________________________________________________________________________</p>
                <!--Hacer bucle recorrriendo-->
                {% if "?mostrar=watched" in request.get_full_path %}
                <section class="watched">
                    <table class="issues-table" style="width: 100%;border-collapse:separate; border-spacing: 0 10px;" >
                        {% for observat in usuari.observats.all %}
                            <tr >
                                <td>
                                    <p><img src="{{ observat.assignacio.avatar.url }}" style="width: 48px; height: 48px;"> {{observat.assignacio.user}} <a href="{% url 'editar_issue' observat.id %}">#{{observat.id}} {{observat.subject}}</a> {{observat.estat}}</p>
                                    <p></p>
                                    <p style="color:darkgrey">__________________________________________________________________________________________</p>
                                </td> 
                            </tr> 
                        {% endfor %}
                    </table>
                </section>
                {%else%}
                <section class ="timeline">
                    <div class="issue-page"style="width: 100%; ">
                        <table class="issues-table" style="width: 100%;border-collapse:separate; border-spacing: 0 10px;" >
                            {% for log in logs %}
                                <tr class="row table-main">
                                    <!--Ojo hardcoded-->
                                    <p><img src="{{ usuari.avatar.url }}" style="width: 32px; height: 32px;"><a href="{% url 'usuari' 1 %}"> {{log.usuari.user}}</a>
                                    {% if log.tipus == "CREAR" %}
                                        ha creat l'
                                    {% elif log.tipus == "ADD_ATT" %}
                                        ha afegit el fitxer {{log.valor_nou}} al
                                    {% elif log.tipus == "DEL_ATT" %}
                                        ha esborrat el fitxer {{log.valor_antic}} al
                                    {% elif log.tipus == "ADD_TAG" %}
                                        ha afegit el tag {{log.valor_nou}} al
                                    {% elif log.tipus == "DEL_TAG" %}
                                        ha esborrat el tag {{log.valor_antic}} al
                                    {% else %}
                                        ha canviat l'atribut {{log.tipus}}  de {{log.valor_previ}} a {{log.valor_nou}} del
                                    {%endif%}
                                    issue <a href="{% url 'editar_issue' log.issue.id %}">#{{log.issue.id}} {{log.issue.subject}}</a></p>
                                    <p style="color:darkgrey">{{log.data}}</p>
                                    <p style="color:darkgrey">__________________________________________________________________________________________</p>
                                </tr> 
                            {% endfor %}
                        </table>
                    </div>
                </section>  
                {%endif%}
            </div>
        </div>
        <div>
            <button class="btn-big edit-profile" style="height:50px;">
                <a href="/usuaris/perfil">
                    <span>
                        Editar bio
                    </span>
                </a>
            </button>
        </div>
    </div>
</body>



{% endblock %}