{% extends 'base.html' %}
{% load socialaccount %}
{% block content %}

<div class="master">
    <div class="wrapper">
        <div class="auth">
            <div class="auth-container">
                <div class="logo-svg">
                    <img src="{{ logo_url }}"
                        width="300"
                        height="200">
                </div>
                <h2 class="tagline">LOVE YOUR PROJECT</h2>
                <div class="login-form-container">
                    <!-- Login propi -->
                    <form method="post" class="login-form ng-pristine ng-valid" style="justify-content: space-around;">
                        {% csrf_token %}
                        <input style="margin-bottom: 5px;" type="text" autocorrect="off" autocapitalize="none" autofocus required name="username" data-required="true" placeholder="Pick a username">
                        <input style="margin-bottom: 5px;" type="text" autocorrect="off" autocapitalize="none" autofocus required name="name" data-required="true" placeholder="Pick your full name">
                        <input style="margin-bottom: 5px;" type="text" autocorrect="off" autocapitalize="none" autofocus required name="email" data-required="true" placeholder="Your email">
                        <div class="login-password" >
                            <input style="margin-bottom: 5px;" type="password" name="password" data-required="true" placeholder="Set a password (case sensitive)" >
                            <input style="margin-bottom: 5px;" type="password" name="password2" data-required="true" placeholder="Repeat password" >
                        </div>
                        <div>
                            <button type="submit" name="login" value="sing Up" class="btn-small full" style="margin-top: 10px; margin-bottom: 10px;">sing Up</button>
                        </div>
                    </form>

                    <!-- Login propi -->
                    <div class="contrib-plugins-wrapper">
                        <label>Or login with</label>
                        <div >
                            <a href="{% provider_login_url 'google' %}" title="Enter with your google account" class="button button-auth">
                                <span>Sign in with Google   </span>
                            </a>
                        </div>
                    </div>
                    <span>
                        Not registred yet? 
                        <a href="{% url 'login' %}">create your free account here</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

