
{% extends 'navbar.html' %}

{% block body %}

    <div class="profile centered" style="margin-left: 50px;">
        <section class="profile-bar">
            <div>
                <img src="{{ usuari.avatar.url }}"
                width="200"
                height="200">
            </div>

            <div class="profile-data">
                <h1 class="not-full-name">
                    <p>{{usuari.user.username}}</p>
                </h1>
                <div class="username">
                    <p>@{{usuari.user.username}}</p>
                    
                </div>
            </div>
            <div class="profile-stats">
                <div class ="stat">
                </div>
            </div>
            <div class="profile-quote">
                <span>
                    {% if usuari.bio %}{{usuari.bio}}{% endif %}
                </span>
            </div>
        </section>
        <div class="main">
            <div>
                <div class="taskboard-actions">
                    <table style="width: 40%;border-collapse:separate; border-spacing: 0 5px;">
                        <tr>
                            {% if "?mostrar=watched" in request.get_full_path %}
                                <td>
                                    <th>
                                        <a href="{% url 'usuari' usuari.user.id %}?mostrar=timeline">
                                            <h1><i class="fa fa-align-justify"  aria-hidden="true" ></i> &nbsp Timeline &nbsp </h1>
                                        </a>
                                    </th>
                                </td>
                                <td>
                                    <th>
                                        <a href="{% url 'usuari' usuari.user.id %}?mostrar=watched">
                                            <h1><i class="fa fa-eye" aria-hidden="true"></i> <u>Watched</u></h1>
                                        </a>
                                    </th>
                                </td>
                            {%else%}
                                <td>
                                    <th>
                                        <a href="{% url 'usuari' usuari.user.id %}?mostrar=timeline">
                                            <h1><i class="fa fa-align-justify"  aria-hidden="true" ></i> &nbsp <u>Timeline</u> &nbsp </h1>
                                        </a>
                                    </th>
                                </td>
                                <td>
                                    <th>
                                        <a href="{% url 'usuari' usuari.user.id %}?mostrar=watched">
                                            <h1><i class="fa fa-eye" aria-hidden="true"></i> Watched</h1>
                                        </a>
                                    </th>
                                </td>
                            {%endif%}
                        </tr>
                    </table>
                </div>
                <p style="color:darkgrey" >__________________________________________________________________________________________</p>
                <!--Hacer bucle recorrriendo-->
                {% if "?mostrar=watched" in request.get_full_path %}
                <section class="watched">
                    <table class="issues-table" style="width: 100%;border-collapse:separate; border-spacing: 0 10px;" >
                        {% for observat in usuari.observats.all %}
                            <tr >
                                <td>
                                    <p>
                                        {% if observat.assignacio %}
                                            <img src="{{ observat.assignacio.avatar.url }}" style="width: 48px; height: 48px; border-radius: 50%;">
                                        {% else %}
                                            <img src="{{ NO_AVATAR_URL }}" style="width: 48px; height: 48px; border-radius: 50%;">
                                        {% endif %}
                                        {{observat.assignacio.user}} <a href="{% url 'editar_issue' observat.id %}">#{{observat.id}} {{observat.subject}}</a> {{observat.get_estat_display}}
                                    </p>
                                    <p></p>
                                    <p style="color:darkgrey">__________________________________________________________________________________________</p>
                                </td> 
                            </tr> 
                        {% endfor %}
                    </table>
                </section>
                {%else%}
                <section class ="timeline">
                    <div class="issue-page"style="width: 100%; ">
                        <table class="issues-table" style="width: 100%;border-collapse:separate; border-spacing: 0 10px;" > 
                            {% for log in logs %}
                                {% if log.issue.length != 0 %}
                                    <tr class="row table-main">
                                        <p><img src="{{ usuari.avatar.url }}" style="width: 32px; height: 32px; border-radius: 50%;"><a href="{% url 'usuari' log.usuari.user.id %}"> {{log.usuari.user}}</a>
                                        {% if log.tipus == "Creada" %}
                                            ha creat l'
                                        {% elif log.tipus == 'Nou attachment' %}
                                            ha afegit el fitxer
                                            {% if log.valor_nou %}
                                                <a>{{log.valor_nou}}</a>
                                            {% else %}
                                                No definit
                                            {% endif %} al
                                        {% elif log.tipus == "Attachment esborrat" %}
                                            ha esborrat el fitxer 
                                            {% if log.valor_previ %}
                                                {{log.valor_previ}} 
                                            {% else %}
                                                No definit
                                            {% endif %} al
                                        {% elif log.tipus == "Tag afegida" %}
                                            ha afegit el tag 
                                            {% if log.valor_nou %}
                                                {{log.valor_nou}} 
                                            {% else %}
                                                No definit
                                            {% endif %} al
                                        {% elif log.tipus == "Tag esborrada" %}
                                            ha esborrat el tag 
                                            {% if log.valor_previ %}
                                                {{log.valor_previ}} 
                                            {% else %}
                                                No definit
                                            {% endif %} al
                                        {% else %}
                                            ha canviat l'atribut {{log.tipus}} de 
                                            {% if log.valor_previ %}
                                                {{log.valor_previ}} 
                                            {% else %}
                                                No definit
                                            {% endif %} a 
                                            {% if log.valor_nou %}
                                                {{log.valor_nou}} 
                                            {% else %}
                                                No definit
                                            {% endif %} del
                                        {%endif%}
                                        issue   {% if log.issue %}<a href="{% url 'editar_issue' log.issue.id %}">#{{log.issue.id}} {{log.issue.subject}}</a>
                                                {% else %}
                                                (esborrat)
                                                {% endif %}</p>
                                        <p style="color:darkgrey">{{log.data}}</p>
                                        <p style="color:darkgrey">__________________________________________________________________________________________</p>
                                    </tr> 
                                {% endif %}
                            {% endfor %}
                        </table>
                    </div>
                </section>  
                {%endif%}
                
            </div>
            <div class="timeline-wrapper" style="margin-left: 30px; width: 150px;">
                <h1 style="white-space: nowrap;">Your team</h1>
                {% for usuari in usuaris %}
                    <a href="{% url 'usuari' usuari.user.id %}"><img src="{{ usuari.avatar.url }}" style="width: 32px; height: 32px; border-radius: 50%;" title="{{ usuari.user.first_name }}"></a>
                {% endfor %}
            </div>
        </div>
    </div>
</body>



{% endblock %}