{% extends 'base.html' %}
{% block content %}

    <div class="lightbox lightbox-generic-form lightbox-create-edit open">
        <a class="close" href="/issues">
            <i class="fa fa-times" aria-hidden="true"></i>
        </a>
        <div> 
            <form method="post" >
                {% csrf_token %}
                <h2 class="title">New issue</h2>
                
                <div>
                    <div class="form-wrapper">
                        
                        <!-- left side -->
                        <div class="main">
                            <input value="" type="text" name="subject">
                            
                            <textarea name="descripcio" rows="7" placeholder="Description" class="description ng-pristine ng-untouched ng-valid ng-empty" style="margin-top: 5px;"></textarea>
                            <!-- Attachments -->
                            <section style="margin-top: 10px;" class="attachments attachments-full">
                                <!-- attachment header-->
                                <div class="attachments-header">
                                    <h3 class="attachment-title">
                                        <!-- num attachment -->
                                        <span class="attachments-num">{{issue.attachments.all.count}}</span>
                                        <span class="attachments-text">Attachments</span>
                                    </h3>
                                    
                                    <!-- add attachment-->
                                    <div class="options ">
                                        <div class="add-attach">
                                            <input id="inputFile" type="file" name="document" style="display: none;">

                                            <button id="addAttachment" style="display: flex;">
                                                <i class="fa fa-plus" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>

                        <!-- right side -->
                        <sidebar class="sidebar ticket-data">

                            <div>
                                <!-- status-->
                                <select name="estat" class="status-button">
                                    {% for key,value in TEstats %}
                                        <option value="{{key}}">{{value}}</option>
                                    {% endfor %} 
                                </select>
                                

                                <!-- assign ? -->
                                <select name="assignacio" class="status-button">
                                    <option value="" selected>---------</option>
                                    {% for usuari in usuaris %}
                                        <option value="{{usuari.user.id}}">{{usuari.user.first_name}}</option>
                                    {% endfor %}
                                </select>

                                <div class="ticket-data-container">
                                    <!-- Type-->
                                    <select name="tipus" class="status-button">
                                        {% for key,value in TTipus %}
                                            <option value="{{key}}">{{value}}</option>
                                        {% endfor %}
                                    </select>

                                    <!-- Severity-->
                                    <select name="gravetat" class="status-button">
                                        {% for key,value in TGravetat %}
                                            <option value="{{key}}">{{value}}</option>
                                        {% endfor %}
                                    </select>
                                    
                                    <!-- Priority-->
                                    <select name="prioritat" class="status-button">
                                        {% for key,value in TPrioritat %}
                                            <option value="{{key}}">{{value}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <section class="ticket-section ticket-detail-settings">
                                    <div class="ticket-detail-settings" >
                                        <button id="btnTimeLine" >
                                            <i style="width: 10px; height:10px" class="fa fa-clock-o" aria-hidden="true"></i>
                                        </button>
                                        <input id="inputBloquejat" type="hidden" name="bloquejat" value="False"/>
                                        <button id="btnBloqueig" style="margin-left: 5px;">
                                            <i class="fa fa-lock" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </section>
                                <div style="display: felx; justify-content: space-between;">
                                    <input 
                                        type="date" 
                                        id="datePickerInput" 
                                        name="dataLimit"
                                        style="display: none;"
                                    >
                                </div>
                                
                                <div style="display: felx; justify-content: space-between;">
                                    <input 
                                        type="text" 
                                        id="inputMotiuBloqueig" 
                                        name="motiuBloqueig"
                                        style="display: none;"
                                        placeholder="Motiu bloqueig"
                                    >
                                </div>
                            </div>
                        </sidebar>
                        
                    </div>
                    <input type="submit" class="btn-big add-item" style="margin-top: 10px; margin-bottom: 10px;">
                </div>
            </form>
        </div>
    </div>

    <script>
        var addAttachment = document.getElementById('addAttachment');
        var inputFile = document.getElementById('inputFile');
        addAttachment.addEventListener('click', function() {
            event.preventDefault();
            inputFile.click();
        })

        var btnTimeLine = document.getElementById('btnTimeLine');
        var datePickerInput = document.getElementById('datePickerInput');
        btnTimeLine.addEventListener('click', () => {
            event.preventDefault();
            if (datePickerInput.style.display === 'none') {
                datePickerInput.style.display = 'block';
            } else {
                datePickerInput.style.display = 'none';
            }
        });

        var btnBloqueig = document.getElementById('btnBloqueig');
        var inputBloquejat = document.getElementById('inputBloquejat');
        var inputMotiuBloqueig = document.getElementById('inputMotiuBloqueig');
        btnBloqueig.addEventListener('click', () => {
            event.preventDefault();
            if (inputBloquejat.value === 'False') {
                inputBloquejat.value = 'True';
                inputMotiuBloqueig.style.display = 'block';
                btnBloqueig.style.background = 'red';
            } else {
                inputBloquejat.value = 'False'
                inputMotiuBloqueig.style.display = 'none';
                btnBloqueig.style.background = '';
            }
        });

    </script>
    

{% endblock %}
