{% extends 'base.html' %}
{% load static %}
<html>
    <link rel="stylesheet" type="text/css" href="{% static 'issues.css'%}">
    
<head>

</head>
{% block content %}


    {% for issue in issues %}
    <div style=" background: #e1e1e3;margin-bottom: 0.75rem;padding: 0.6rem;">
        <table>
            <tr>
                <td style="margin-left: 100px;margin-right: 100px;">
                    {% if issue.tipus == "B" %}
                        <p class="circle" style="background: rgb(228, 64, 87);
                        border-radius: 50%;
                        width: 18px;
                        height: 18px;
                        margin-left: 10px;margin-right: 10px;"></p>
                    {%elif issue.tipus == "P"%}
                        <p class="circle" style="background: rgb(189, 252, 170);
                        border-radius: 50%;
                        width: 18px;
                        height: 18px;
                        margin-left: 10px;margin-right: 10px;"></p>
                    {%elif issue.tipus == "M"%}
                        <p class="circle" style="background: rgb(255, 153, 0);
                        border-radius: 50%;
                        width: 18px;
                        height: 18px;
                        margin-left: 10px;margin-right: 10px;"></p>
                    {%endif%}
                  
                </td>
                <td>
                    <p class="circle" style="background: rgb(228, 64, 87);
                        border-radius: 50%;
                        width: 18px;
                        height: 18px;
                        margin-left: 10px;margin-right: 10px;"></p>
                </td>
                <td>
                    {% if issue.prioritat == "B" %}
                        <p class="circle" style="background: rgb(189, 252, 170);
                        border-radius: 50%;
                        width: 18px;
                        height: 18px;
                        margin-left: 10px;margin-right: 10px;"></p>
                    {%elif issue.prioritat == "M"%}
                        <p class="circle" style=" background: rgb(255, 153, 0);
                        border-radius: 50%;
                        width: 18px;
                        height: 18px;
                        margin-left: 10px;margin-right: 10px;"></p>
                    {%elif issue.prioritat == "A"%}
                        <p class="circle" style="background: rgb(228, 64, 87);
                        border-radius: 50%;
                        width: 18px;
                        height: 18px;
                        margin-left: 10px;margin-right: 10px;"></p>
                    {%endif%}
                </td>
                    
            
            
        
        
        <td>
           
            <p>
                <span>#{{issue.id}} {{issue.subject}}</span> 
                {%if issue.estat == 'N' %}
                    <span>Nova</span> 
                {%elif issue.estat == 'D'%}
                    <span>En curs</span>
                {%elif issue.estat == 'T'%}
                    <span>Llesta per testejar</span>
                {%elif issue.estat == 'C'%}
                    <span style="color:#70b578">Tancada</span>
                {%elif issue.estat == 'I'%}
                    <span>Necessita informació</span>
                {%elif issue.estat == 'R'%}
                    <span style="color:#FF0000">Rebutjada</span>
                {%elif issue.estat == 'P'%}
                    <span>Proposada</span>
                {%endif%}
                    
                <span type="date">{{issue.dataModificacio}}</span>
                <span >{{issue.creador}}</span>
                

    
            </p> 
           
            
        </td>
    </tr>
    </table>
    </div>  
    {% endfor %}
{% endblock %}
</html>

