{% extends 'base.html' %}
{% block content %}

<div class="master">
    <div class="wrapper">
        <div class="main detail">
            <!-- issue info container  -->
            <div class="detail-header-container">
                <!-- Per passar al segunet o anterior issue -->
                <div class="detail-nav">
                    <a title="Previous" href="url/previous/issue">arwL</a>
                    <a title="Next" href="url/next/issue">arwR</a>
                </div>
                <div class="detail-header">
                    <!-- Titol issue-->
                    <div class="detail-title-wrapper">
                        <span classe="issue-text" style="display: inline-flex;">
                            <div class="detail-ref">
                                <span class="issue-ref">#{{issue.id}}</span>
                            </div>
                            <span style="margin-top: 3px; font-size: 25px;" class="detail-subject">{{issue.subject}}</span>
                        </span>
                    </div>
                    <div class="detail-project">
                        <div class="section-name">Issue</div>
                    </div>
                    <!-- Action buttons-->
                    <div class="action-buttons"></div>
                    <div class="subheader">
                        <div class="tags-container">
                            <button class="btn-filter ng-animate-disabled">
                                <span>Add tag</span>
                                <span style="font-size: 20px;">+</span>
                            </button>
                        </div>
                        <div>
                            <div class="created-by">
                                <a href="url usser">Created by userName</a>
                                <div class="created-date">{{issue.dataModificacio}}</div>
                            </div>
                            <div class="user-avatar">
                                <a href="url usser"></a>
                                <span>Foto perfil</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Attachments Comments Activites-->
            <div class="detail-content">
                <!-- Descripcio issue-->
                <section class="duty-content" style="justify-content: flex-start;">
                    <div style="display: flex; justify-content: space-between;">
                        <textarea placeholder="Empty space is so boring... go on, be descriptive..." 
                        name="descripcio" rows="7" 
                        class="description ng-pristine ng-untouched ng-valid ng-empty"></textarea>
                        <input style="max-height: 32px;" type="button" name="guardarDescripcio" class="btn-small" value="S">
                    </div>
                </section>

                <!-- Attachments -->
                <section class="attachments attachments-full">
                    <!-- attachment header-->
                    <div class="attachments-header">
                        <h3 class="attachment-title">
                            <!-- num attachment -->
                            <span class="attachments-num">1</span>
                            <span class="attachments-text">Attachments</span>
                        </h3>
                        
                        <!-- add attachment-->
                        <div class="options ">
                            <div class="add-attach">
                                <input type="file" value="+" name="attachment">
                            </div>
                        </div>
                    </div>
                    <!-- attachment content-->
                    <div class="attachment-list sortable">
                        list attachment
                    </div>
                </section>

                <!-- Comments Activites header -->
                <section class="history">
                    <nav class="history-tabs">
                        <a class="history-tab active">0 Comments</a>
                        <a class="history-tab">Activites</a>
                    </nav>
                </section>
                <!-- Comments Activites content -->
                <section class="comment" >
                    <div class="commmetns-wrapper">
                        list of coments
                    </div>
                </section>

            </div>
        </div>
        <sidebar class="sidebar ticket-data">
            <section class="ticket-header">
                <span class="ticket-title ng-pristine ng-valid ng-untouched ng-not-empty">
                    <span>Open</span>
                </span>
                <!-- status-->
                <select name="estat" class="status-button">
                    {% for estat in form.estat %}
                        <option value="{{estat}}">{{estat}}</option>
                    {% endfor %}    
                </select>
            </section>
            <section class="ticket-section ticket-data-container">
                <div class="ticket-data-container">
                    <!-- Type-->
                    <select name="tipus" class="status-button">
                        {% for tipus in form.tipus %}
                            <option value="{{tipus}}">{{tipus}}</option>
                        {% endfor %}
                    </select>

                    <!-- Severity-->
                    <select name="gravetat" class="status-button">
                        {% for gravetat in form.gravetat %}
                            <option value="{{gravetat}}">{{gravetat}}</option>
                        {% endfor %}
                    </select>
                    
                    <!-- Priority-->
                    <select name="prioritat" class="status-button">
                        {% for prioritat in form.prioritat %}
                            <option value="{{prioritat}}">{{prioritat}}</option>
                        {% endfor %}
                    </select>
                </div>
            </section>
            <!-- Assigned section-->
            <section class="ticket-section ng-pristine ng-untouched ng-valid ng-not-empty">
                <div class="ticket-section-label">
                    <span>Assigned</span>
                </div>
                <div class="ticket-user-list-container">
                    <div class="ticket-user-list-content">
                        <div class="ticket-user-list"></div>
                        <div class="ticket-users-actions">
                            <a href="url/assignOther" style="margin-right: 10px;" class="ticket-users-actions">+ Add assigned</a>
                            <a href="url/assignToMe" class="ticket-users-actions">Assign to me</a>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Watchers section-->
            <section class="ticket-section ticket-watchers">
                <div class="ticket-section-label">
                    <span>Watchers</span>
                </div>
                <div class="ticket-user-list-container">
                    <div class="ticket-user-list-content">
                        <div class="ticket-user-list"></div>
                        <div class="ticket-users-actions">
                            <a href="url/assignOther" style="margin-right: 10px;" class="ticket-users-actions">+ Add watchers</a>
                            <a href="url/assignToMe" class="ticket-users-actions">Watch</a>
                        </div>
                    </div>
                </div>
            </section>
            <!-- setting Section-->
            <section class="ticket-section ticket-detail-settings">
                <div class="ticket-detail-settings">
                    <div>
                        <!-- <button id="datePickerBtn" type="button" class="btn-icon is-blocked item-block">T</button> -->
                        <input type="date" 
                               id="datePickerInput" 
                               name="timeline" 
                               value="T"
                        >
                    </div>
                    <div>
                        <input name="subject" value="B" type="checkbox" id="btnBlock" style="margin-left: 15px;">
                    </div>
                    <div>
                        <input name="subject" value="D" type="button" id="btnBlock" style="margin-left: 15px;">
                    </div>
                </div>
            </section>
        </sidebar>
    </div>
</div>

<!--
    <form method="post" >
        {% csrf_token %}
        <input type="text" name="subject" value="{{ form.subject.value }}">
        <input type="text" name="tipus" value="{{ form.tipus.value }}">
        <input type="text" name="estat" value="{{ form.estat.value }}">
        <input type="text" name="gravetat" value="{{ form.gravetat.value }}">
        <input type="text" name="prioritat" value="{{ form.prioritat.value }}">
        <input type="text" name="gravetat" value="{{ form.gravetat.value }}">
        <input type="submit" name="save_subject" class="btn-big add-item" style="margin-top: 10px; margin-bottom: 10px;">
    </form>
-->
{% endblock %}

